#anchorsBotaoRecuperar {
    flex-direction: row;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.5s;
}

#anchorsBotaoRecuperar:hover {
    box-shadow: 0 0.5em 0.9em -0.4em;
    cursor: pointer;
    transform: translateY(-0.2em);
}